USE [master]
GO
/****** Object:  Database [HeavenScape_finalDB]    Script Date: 8/23/2026 11:26:14 PM ******/
CREATE DATABASE [HeavenScape_finalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HeavenScape_finalDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HeavenScape_finalDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HeavenScape_finalDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HeavenScape_finalDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HeavenScape_finalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HeavenScape_finalDB]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 8/23/2026 11:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[accountID] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](150) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[role] [nvarchar](20) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[accountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 8/23/2026 11:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[addressID] [int] IDENTITY(1,1) NOT NULL,
	[customerID] [int] NOT NULL,
	[street] [nvarchar](255) NULL,
	[district] [nvarchar](100) NULL,
	[city] [nvarchar](100) NULL,
	[country] [nvarchar](100) NULL,
	[is_default] [bit] NULL,
	[recipient_name] [nvarchar](100) NULL,
	[recipient_phone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[addressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 8/23/2026 11:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[authorID] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](150) NOT NULL,
	[biography] [nvarchar](max) NULL,
	[nationality] [nvarchar](100) NULL,
	[birthdate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[authorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 8/23/2026 11:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[bookID] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](18, 2) NOT NULL,
	[stock_quantity] [int] NULL,
	[thumbnail] [nvarchar](500) NULL,
	[total_pages] [int] NULL,
	[dimensions] [nvarchar](100) NULL,
	[weight] [decimal](10, 2) NULL,
	[status] [nvarchar](50) NULL,
	[seriesID] [int] NULL,
	[originID] [int] NULL,
	[contentID] [int] NULL,
	[languageID] [int] NULL,
	[audienceID] [int] NULL,
	[purposeID] [int] NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[publisherID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookAuthor]    Script Date: 8/23/2026 11:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookAuthor](
	[bookAuthorID] [int] IDENTITY(1,1) NOT NULL,
	[bookID] [int] NOT NULL,
	[authorID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bookAuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookGenre]    Script Date: 8/23/2026 11:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookGenre](
	[bookID] [int] NOT NULL,
	[genreID] [int] NOT NULL,
 CONSTRAINT [PK_BookGenre] PRIMARY KEY CLUSTERED 
(
	[bookID] ASC,
	[genreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookOrigin]    Script Date: 8/23/2026 11:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookOrigin](
	[originID] [int] IDENTITY(1,1) NOT NULL,
	[origin_name] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[originID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookSeries]    Script Date: 8/23/2026 11:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookSeries](
	[seriesID] [int] IDENTITY(1,1) NOT NULL,
	[series_name] [nvarchar](150) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[seriesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 8/23/2026 11:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cartID] [int] IDENTITY(1,1) NOT NULL,
	[customerID] [int] NOT NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItem]    Script Date: 8/23/2026 11:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItem](
	[cartItemID] [int] IDENTITY(1,1) NOT NULL,
	[cartID] [int] NOT NULL,
	[bookID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[added_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cartItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Content]    Script Date: 8/23/2026 11:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Content](
	[contentID] [int] IDENTITY(1,1) NOT NULL,
	[content_name] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[contentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 8/23/2026 11:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customerID] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](150) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[role] [nvarchar](20) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[gender] [varchar](10) NULL,
	[dob] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerVoucher]    Script Date: 8/23/2026 11:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerVoucher](
	[customerVoucherID] [int] IDENTITY(1,1) NOT NULL,
	[customerID] [int] NOT NULL,
	[voucherID] [int] NOT NULL,
	[is_used] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[customerVoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 8/23/2026 11:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[genreID] [int] IDENTITY(1,1) NOT NULL,
	[genre_name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[genreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Intended_Audience]    Script Date: 8/23/2026 11:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Intended_Audience](
	[audienceID] [int] IDENTITY(1,1) NOT NULL,
	[audience_name] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[audienceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Language]    Script Date: 8/23/2026 11:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language](
	[languageID] [int] IDENTITY(1,1) NOT NULL,
	[language_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[languageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 8/23/2026 11:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[customerID] [int] NOT NULL,
	[addressID] [int] NOT NULL,
	[processed_by] [int] NULL,
	[status] [nvarchar](50) NULL,
	[payment_method] [nvarchar](50) NULL,
	[payment_status] [nvarchar](50) NULL,
	[total_price] [decimal](18, 2) NULL,
	[created_at] [datetime] NULL,
	[cancel_reason] [nvarchar](500) NULL,
	[cancelled_by] [nvarchar](20) NULL,
	[voucherID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 8/23/2026 11:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[orderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[orderID] [int] NOT NULL,
	[bookID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[orderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publisher]    Script Date: 8/23/2026 11:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publisher](
	[publisherID] [int] IDENTITY(1,1) NOT NULL,
	[publisher_name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Publisher] PRIMARY KEY CLUSTERED 
(
	[publisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purpose]    Script Date: 8/23/2026 11:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purpose](
	[purposeID] [int] IDENTITY(1,1) NOT NULL,
	[purpose_name] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[purposeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 8/23/2026 11:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[reviewID] [int] IDENTITY(1,1) NOT NULL,
	[customerID] [int] NOT NULL,
	[bookID] [int] NOT NULL,
	[orderDetailID] [int] NOT NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[adminReply] [nvarchar](1000) NULL,
	[adminReplyDate] [datetime] NULL,
	[adminID] [int] NULL,
	[isHidden] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[reviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 8/23/2026 11:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[voucherID] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[discount_percent] [decimal](5, 2) NULL,
	[quantity] [int] NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[status] [nvarchar](20) NULL,
	[is_deleted] [bit] NOT NULL,
	[min_order_value] [decimal](18, 2) NULL,
	[max_discount_value] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[voucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WishList]    Script Date: 8/23/2026 11:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WishList](
	[wishlistID] [int] IDENTITY(1,1) NOT NULL,
	[customerID] [int] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[wishlistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WishList_Item]    Script Date: 8/23/2026 11:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WishList_Item](
	[wishlistItemID] [int] IDENTITY(1,1) NOT NULL,
	[wishlistID] [int] NOT NULL,
	[bookID] [int] NOT NULL,
	[added_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[wishlistItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([accountID], [fullname], [email], [password], [phone], [role], [status], [created_at], [updated_at], [updated_by]) VALUES (1, N'Admin', N'admin@heavenscape.com', N'e10adc3949ba59abbe56e057f20f883e', N'0849324423', N'admin', N'active', CAST(N'2026-06-04T12:07:24.427' AS DateTime), NULL, NULL)
INSERT [dbo].[Account] ([accountID], [fullname], [email], [password], [phone], [role], [status], [created_at], [updated_at], [updated_by]) VALUES (2, N'Staff', N'staff@heavenscape.com', N'e10adc3949ba59abbe56e057f20f883e', N'0987654321', N'staff', N'active', CAST(N'2026-06-04T12:07:24.430' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([addressID], [customerID], [street], [district], [city], [country], [is_default], [recipient_name], [recipient_phone]) VALUES (1, 11, N'600 CMT8', N'Phường Cái Khế', N'Thành phố Cần Thơ', N'__DELETED__', 0, N'Minh Duy', N'0915783916')
INSERT [dbo].[Address] ([addressID], [customerID], [street], [district], [city], [country], [is_default], [recipient_name], [recipient_phone]) VALUES (2, 11, N'123 cmt8', N'Phường Bình Dương', N'Thành phố Hồ Chí Minh', N'Vietnam', 1, N'Nguyễn Lê Duy Minh', N'0915783916')
INSERT [dbo].[Address] ([addressID], [customerID], [street], [district], [city], [country], [is_default], [recipient_name], [recipient_phone]) VALUES (4, 11, N'ádas1231', N'Phường Mường Lay', N'Tỉnh Điện Biên', N'Vietnam', 0, N'Nguyễn Lê Duy Minh', N'0915783916')
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[Author] ON 

INSERT [dbo].[Author] ([authorID], [fullname], [biography], [nationality], [birthdate]) VALUES (1, N'Dale Carnegie', NULL, NULL, NULL)
INSERT [dbo].[Author] ([authorID], [fullname], [biography], [nationality], [birthdate]) VALUES (2, N'Paulo Coelho', NULL, NULL, NULL)
INSERT [dbo].[Author] ([authorID], [fullname], [biography], [nationality], [birthdate]) VALUES (3, N'Rosie Nguyen', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Author] OFF
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[BookAuthor] ON 

INSERT [dbo].[BookAuthor] ([bookAuthorID], [bookID], [authorID]) VALUES (8, 2, 2)
INSERT [dbo].[BookAuthor] ([bookAuthorID], [bookID], [authorID]) VALUES (30, 13, 15)
INSERT [dbo].[BookAuthor] ([bookAuthorID], [bookID], [authorID]) VALUES (47, 22, 25)
SET IDENTITY_INSERT [dbo].[BookAuthor] OFF
GO
INSERT [dbo].[BookGenre] ([bookID], [genreID]) VALUES (1, 1)
INSERT [dbo].[BookGenre] ([bookID], [genreID]) VALUES (5, 1)
INSERT [dbo].[BookGenre] ([bookID], [genreID]) VALUES (12, 1)
GO
SET IDENTITY_INSERT [dbo].[BookOrigin] ON 

INSERT [dbo].[BookOrigin] ([originID], [origin_name]) VALUES (1, N'Vietnam')
INSERT [dbo].[BookOrigin] ([originID], [origin_name]) VALUES (2, N'United States')
INSERT [dbo].[BookOrigin] ([originID], [origin_name]) VALUES (3, N'United Kingdom')
SET IDENTITY_INSERT [dbo].[BookOrigin] OFF
GO
SET IDENTITY_INSERT [dbo].[BookSeries] ON 

INSERT [dbo].[BookSeries] ([seriesID], [series_name], [description]) VALUES (1, N'Harry Potter', NULL)
INSERT [dbo].[BookSeries] ([seriesID], [series_name], [description]) VALUES (2, N'Detective Conan', NULL)
INSERT [dbo].[BookSeries] ([seriesID], [series_name], [description]) VALUES (3, N'Self-Help Books', NULL)
SET IDENTITY_INSERT [dbo].[BookSeries] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([cartID], [customerID], [status], [created_at], [updated_at]) VALUES (5, 11, N'checked_out', CAST(N'2026-08-10T12:38:43.023' AS DateTime), NULL)
INSERT [dbo].[Cart] ([cartID], [customerID], [status], [created_at], [updated_at]) VALUES (6, 12, N'active', CAST(N'2026-08-12T15:29:25.300' AS DateTime), NULL)
INSERT [dbo].[Cart] ([cartID], [customerID], [status], [created_at], [updated_at]) VALUES (7, 13, N'active', CAST(N'2026-08-22T16:58:56.437' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItem] ON 

INSERT [dbo].[CartItem] ([cartItemID], [cartID], [bookID], [quantity], [added_at]) VALUES (8, 6, 1, 1, CAST(N'2026-08-12T15:29:25.317' AS DateTime))
INSERT [dbo].[CartItem] ([cartItemID], [cartID], [bookID], [quantity], [added_at]) VALUES (29, 7, 7, 1, CAST(N'2026-08-22T17:00:36.150' AS DateTime))
SET IDENTITY_INSERT [dbo].[CartItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Content] ON 

INSERT [dbo].[Content] ([contentID], [content_name]) VALUES (1, N'Paperback')
INSERT [dbo].[Content] ([contentID], [content_name]) VALUES (2, N'Hardcover')
INSERT [dbo].[Content] ([contentID], [content_name]) VALUES (3, N'Glossy Cover')
SET IDENTITY_INSERT [dbo].[Content] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([customerID], [fullname], [email], [password], [phone], [role], [status], [created_at], [gender], [dob]) VALUES (11, N'Nguyễn Lê Duy Minh', N'duyminhnguyen247@gmail.com', N'acc90d86e202e53c381541ed2521ee18', N'0915783916', N'customer', N'active', CAST(N'2026-08-10T12:38:22.980' AS DateTime), N'Female', CAST(N'2004-10-01' AS Date))
INSERT [dbo].[Customer] ([customerID], [fullname], [email], [password], [phone], [role], [status], [created_at], [gender], [dob]) VALUES (12, N'Minh Duy', N'duyminhnguyenle3619@gmail.com', N'b14e7c766ce93527677960a14365be83', N'0915783916', N'customer', N'active', CAST(N'2026-08-12T15:29:01.870' AS DateTime), NULL, NULL)
INSERT [dbo].[Customer] ([customerID], [fullname], [email], [password], [phone], [role], [status], [created_at], [gender], [dob]) VALUES (13, N'Nguyen Bao Duy', N'tommynguyen9240@gmail.com', N'd2f8ea10fa0d3a7d41a5562d942aee91', N'0908123456', N'customer', N'active', CAST(N'2026-08-21T14:43:25.390' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerVoucher] ON 

INSERT [dbo].[CustomerVoucher] ([customerVoucherID], [customerID], [voucherID], [is_used]) VALUES (1, 11, 6, 1)
INSERT [dbo].[CustomerVoucher] ([customerVoucherID], [customerID], [voucherID], [is_used]) VALUES (2, 11, 3, 1)
SET IDENTITY_INSERT [dbo].[CustomerVoucher] OFF
GO
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([genreID], [genre_name]) VALUES (7, N'Biographies & Memoirs')
INSERT [dbo].[Genre] ([genreID], [genre_name]) VALUES (8, N'Comics & Manga')
INSERT [dbo].[Genre] ([genreID], [genre_name]) VALUES (6, N'Foreign Languages')
SET IDENTITY_INSERT [dbo].[Genre] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([orderID], [customerID], [addressID], [processed_by], [status], [payment_method], [payment_status], [total_price], [created_at], [cancel_reason], [cancelled_by], [voucherID]) VALUES (1, 11, 1, 2, N'cancelled', N'cod', N'refunded', CAST(257000.00 AS Decimal(18, 2)), CAST(N'2026-08-10T14:42:49.103' AS DateTime), N'Sách bị rách', N'staff', NULL)
INSERT [dbo].[Order] ([orderID], [customerID], [addressID], [processed_by], [status], [payment_method], [payment_status], [total_price], [created_at], [cancel_reason], [cancelled_by], [voucherID]) VALUES (2, 11, 1, NULL, N'cancelled', N'cod', N'unpaid', CAST(292500.00 AS Decimal(18, 2)), CAST(N'2026-08-20T23:58:00.810' AS DateTime), N'Order was not approved within two days', N'system', NULL)
INSERT [dbo].[Order] ([orderID], [customerID], [addressID], [processed_by], [status], [payment_method], [payment_status], [total_price], [created_at], [cancel_reason], [cancelled_by], [voucherID]) VALUES (3, 11, 1, 2, N'cancelled', N'cod', N'refunded', CAST(95000.00 AS Decimal(18, 2)), CAST(N'2026-08-21T14:47:47.070' AS DateTime), N'Không hay!', N'staff', NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([orderDetailID], [orderID], [bookID], [quantity], [unit_price]) VALUES (1, 1, 1, 1, CAST(120000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetail] ([orderDetailID], [orderID], [bookID], [quantity], [unit_price]) VALUES (2, 1, 25, 1, CAST(137000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetail] ([orderDetailID], [orderID], [bookID], [quantity], [unit_price]) VALUES (3, 2, 25, 1, CAST(243000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Publisher] ON 

INSERT [dbo].[Publisher] ([publisherID], [publisher_name]) VALUES (11, N'Ballantine Books')
INSERT [dbo].[Publisher] ([publisherID], [publisher_name]) VALUES (9, N'Cambridge University Press & Assessment')
INSERT [dbo].[Publisher] ([publisherID], [publisher_name]) VALUES (16, N'DK')
SET IDENTITY_INSERT [dbo].[Publisher] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([reviewID], [customerID], [bookID], [orderDetailID], [rating], [comment], [created_at], [adminReply], [adminReplyDate], [adminID], [isHidden]) VALUES (1, 11, 1, 1, 5, N'Sách quá hay!', CAST(N'2026-08-11T15:27:52.847' AS DateTime), N'Cảm ơn bạn rất nhiều !!!!', CAST(N'2026-08-21T01:47:51.340' AS DateTime), 2, 0)
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[Voucher] ON 

INSERT [dbo].[Voucher] ([voucherID], [code], [discount_percent], [quantity], [start_date], [end_date], [status], [is_deleted], [min_order_value], [max_discount_value]) VALUES (3, N'SALE2028', CAST(10.00 AS Decimal(5, 2)), 10, CAST(N'2026-07-24T00:00:00.000' AS DateTime), CAST(N'2026-08-31T00:00:00.000' AS DateTime), N'active', 0, CAST(100000.00 AS Decimal(18, 2)), CAST(40000.00 AS Decimal(18, 2)))
INSERT [dbo].[Voucher] ([voucherID], [code], [discount_percent], [quantity], [start_date], [end_date], [status], [is_deleted], [min_order_value], [max_discount_value]) VALUES (5, N'HS69GMHY', CAST(10.00 AS Decimal(5, 2)), 10000, CAST(N'2026-07-25T00:00:00.000' AS DateTime), CAST(N'2026-07-31T00:00:00.000' AS DateTime), N'active', 1, CAST(1000000.00 AS Decimal(18, 2)), CAST(100000.00 AS Decimal(18, 2)))
INSERT [dbo].[Voucher] ([voucherID], [code], [discount_percent], [quantity], [start_date], [end_date], [status], [is_deleted], [min_order_value], [max_discount_value]) VALUES (6, N'SWP', CAST(20.00 AS Decimal(5, 2)), 10, CAST(N'2026-07-25T00:00:00.000' AS DateTime), CAST(N'2026-08-31T00:00:00.000' AS DateTime), N'active', 0, CAST(10000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Voucher] OFF
GO
SET IDENTITY_INSERT [dbo].[WishList] ON 

INSERT [dbo].[WishList] ([wishlistID], [customerID], [created_at]) VALUES (5, 11, CAST(N'2026-08-11T03:52:40.020' AS DateTime))
SET IDENTITY_INSERT [dbo].[WishList] OFF
GO
SET IDENTITY_INSERT [dbo].[WishList_Item] ON 

INSERT [dbo].[WishList_Item] ([wishlistItemID], [wishlistID], [bookID], [added_at]) VALUES (1, 5, 22, CAST(N'2026-08-21T23:03:51.990' AS DateTime))
SET IDENTITY_INSERT [dbo].[WishList_Item] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__AB6E616423EC01A2]    Script Date: 8/23/2026 11:26:14 PM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Address_CustomerID]    Script Date: 8/23/2026 11:26:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Address_CustomerID] ON [dbo].[Address]
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Book_CreatedBy]    Script Date: 8/23/2026 11:26:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Book_CreatedBy] ON [dbo].[Book]
(
	[created_by] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Book_PublisherID]    Script Date: 8/23/2026 11:26:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Book_PublisherID] ON [dbo].[Book]
(
	[publisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BookGenre_GenreID]    Script Date: 8/23/2026 11:26:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_BookGenre_GenreID] ON [dbo].[BookGenre]
(
	[genreID] ASC,
	[bookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Cart__B611CB9C688692F2]    Script Date: 8/23/2026 11:26:14 PM ******/
ALTER TABLE [dbo].[Cart] ADD UNIQUE NONCLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CartItem_CartID]    Script Date: 8/23/2026 11:26:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_CartItem_CartID] ON [dbo].[CartItem]
(
	[cartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__AB6E61648634CF6B]    Script Date: 8/23/2026 11:26:14 PM ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Customer_Voucher]    Script Date: 8/23/2026 11:26:14 PM ******/
ALTER TABLE [dbo].[CustomerVoucher] ADD  CONSTRAINT [UQ_Customer_Voucher] UNIQUE NONCLUSTERED 
(
	[customerID] ASC,
	[voucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Genre_GenreName]    Script Date: 8/23/2026 11:26:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Genre_GenreName] ON [dbo].[Genre]
(
	[genre_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_CustomerID]    Script Date: 8/23/2026 11:26:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Order_CustomerID] ON [dbo].[Order]
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetail_OrderID]    Script Date: 8/23/2026 11:26:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetail_OrderID] ON [dbo].[OrderDetail]
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Publisher_Name]    Script Date: 8/23/2026 11:26:14 PM ******/
ALTER TABLE [dbo].[Publisher] ADD  CONSTRAINT [UQ_Publisher_Name] UNIQUE NONCLUSTERED 
(
	[publisher_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Review_BookID]    Script Date: 8/23/2026 11:26:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Review_BookID] ON [dbo].[Review]
(
	[bookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Voucher__357D4CF94747E3E6]    Script Date: 8/23/2026 11:26:14 PM ******/
ALTER TABLE [dbo].[Voucher] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Address] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[Book] ADD  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[Book] ADD  DEFAULT ('available') FOR [status]
GO
ALTER TABLE [dbo].[Book] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[CartItem] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[CartItem] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ('customer') FOR [role]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[CustomerVoucher] ADD  DEFAULT ((0)) FOR [is_used]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ('unpaid') FOR [payment_status]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT ((0)) FOR [isHidden]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[WishList] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[WishList_Item] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_UpdatedBy] FOREIGN KEY([updated_by])
REFERENCES [dbo].[Account] ([accountID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_UpdatedBy]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[Customer] ([customerID])
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD FOREIGN KEY([audienceID])
REFERENCES [dbo].[Intended_Audience] ([audienceID])
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD FOREIGN KEY([contentID])
REFERENCES [dbo].[Content] ([contentID])
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[Account] ([accountID])
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD FOREIGN KEY([languageID])
REFERENCES [dbo].[Language] ([languageID])
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD FOREIGN KEY([originID])
REFERENCES [dbo].[BookOrigin] ([originID])
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD FOREIGN KEY([purposeID])
REFERENCES [dbo].[Purpose] ([purposeID])
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD FOREIGN KEY([seriesID])
REFERENCES [dbo].[BookSeries] ([seriesID])
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[Account] ([accountID])
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Publisher] FOREIGN KEY([publisherID])
REFERENCES [dbo].[Publisher] ([publisherID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Publisher]
GO
ALTER TABLE [dbo].[BookAuthor]  WITH CHECK ADD FOREIGN KEY([authorID])
REFERENCES [dbo].[Author] ([authorID])
GO
ALTER TABLE [dbo].[BookAuthor]  WITH CHECK ADD FOREIGN KEY([bookID])
REFERENCES [dbo].[Book] ([bookID])
GO
ALTER TABLE [dbo].[BookGenre]  WITH CHECK ADD  CONSTRAINT [FK_BookGenre_Book] FOREIGN KEY([bookID])
REFERENCES [dbo].[Book] ([bookID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookGenre] CHECK CONSTRAINT [FK_BookGenre_Book]
GO
ALTER TABLE [dbo].[BookGenre]  WITH CHECK ADD  CONSTRAINT [FK_BookGenre_Genre] FOREIGN KEY([genreID])
REFERENCES [dbo].[Genre] ([genreID])
GO
ALTER TABLE [dbo].[BookGenre] CHECK CONSTRAINT [FK_BookGenre_Genre]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[Customer] ([customerID])
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD FOREIGN KEY([bookID])
REFERENCES [dbo].[Book] ([bookID])
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD FOREIGN KEY([cartID])
REFERENCES [dbo].[Cart] ([cartID])
GO
ALTER TABLE [dbo].[CustomerVoucher]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[Customer] ([customerID])
GO
ALTER TABLE [dbo].[CustomerVoucher]  WITH CHECK ADD FOREIGN KEY([voucherID])
REFERENCES [dbo].[Voucher] ([voucherID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([addressID])
REFERENCES [dbo].[Address] ([addressID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[Customer] ([customerID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([processed_by])
REFERENCES [dbo].[Account] ([accountID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Voucher] FOREIGN KEY([voucherID])
REFERENCES [dbo].[Voucher] ([voucherID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Voucher]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([bookID])
REFERENCES [dbo].[Book] ([bookID])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([orderID])
REFERENCES [dbo].[Order] ([orderID])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([bookID])
REFERENCES [dbo].[Book] ([bookID])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[Customer] ([customerID])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([orderDetailID])
REFERENCES [dbo].[OrderDetail] ([orderDetailID])
GO
ALTER TABLE [dbo].[WishList]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[Customer] ([customerID])
GO
ALTER TABLE [dbo].[WishList_Item]  WITH CHECK ADD FOREIGN KEY([bookID])
REFERENCES [dbo].[Book] ([bookID])
GO
ALTER TABLE [dbo].[WishList_Item]  WITH CHECK ADD FOREIGN KEY([wishlistID])
REFERENCES [dbo].[WishList] ([wishlistID])
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([role]='staff' OR [role]='admin'))
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD CHECK  (([status]='discontinued' OR [status]='out_of_stock' OR [status]='available'))
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD CHECK  (([status]='abandoned' OR [status]='checked_out' OR [status]='active'))
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD CHECK  (([status]='banned' OR [status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD CHECK  (([payment_status]='unpaid' OR [payment_status]='paid' OR [payment_status]='refunded' OR [payment_status]='pending_refund'))
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD CHECK  (([status]='cancelled' OR [status]='completed' OR [status]='shipping' OR [status]='confirmed' OR [status]='pending'))
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [CK_Order_PaymentStatus] CHECK  (([payment_status]='pending_refund' OR [payment_status]='refunded' OR [payment_status]='paid' OR [payment_status]='unpaid'))
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [CK_Order_PaymentStatus]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
USE [master]
GO
